
%div#container


%script(src="/javascripts/clicksign.js" type="text/javascript")

:coffee
  callback = (event) ->
    alert "Callback called with: \#{event.data}"

  clicksign.configure
    container: "container"
    key: "#{@key}"
    protocol: "#{settings.protocol}"
    host: "#{settings.widget_host}"
    timeout: 15000
    signer:
      email: "#{@email}"
      display_name: ""
      documentation: ""
    callback: callback
